<h3>本当に退会しますか？</h3>
<p>
  退会すると、店舗登録や投稿機能が一切使用できなくなります。</br>
  また、登録した店舗が「閉店」状態となり、</br>
  店舗情報の内容がサイト上に一切表示されなくなります。</br>
  退会する場合は、「退会する」をクリックしてください。
</p>

<%= link_to '退会しない', mypage_path %>

<%= link_to '退会する', withdraw_path, method: :patch %>